body{
	background-color:rgb(204,204,204)
}
li{ list-style-type:none;
} 
div>ul>li>a{
text-decoration:none;}
.playlist{ 
	margin:auto;
	width:80%;
	background-color:white;
	height:150 px;
	border-radius:8px;
	border:2px solid black;
	padding:0px;
	
}
.list{
	margin-left:0px;
} 
.media{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	margin:auto;
	width:80%;
	height:600px;
	padding:10px;
	background-color:white;
	border-radius:8px;
	border:2px solid black;
} 
.player_one{
	background-color:rgb(255,255,255);
	
}
.player_two{
background-color:rgb(255,255,255);
}